on:
  pull_request:
  push:
    branches:
      - master

name: Build
jobs:
  build:
    name: Binaries
    runs-on: ubuntu-22.04
    steps:
      - name: Check out sources
        uses: actions/checkout@v4
        with:
          # https://github.com/actions/checkout/issues/1471#issuecomment-1755639487
          fetch-depth: 0
          filter: tree:0
      - name: Set up runtime
        uses: ./.github/actions/runtime
        with:
          save-cache: true
      - name: Run make
        run: make
