on:
  # SECURITY: This can permit PRs from forks to run potentially malicious pushes to the registry. This is safe only if
  # these jobs are configured to always require maintainer review and manual approval before running. The manual
  # approval requirement is established through the "deploy" environment.
  pull_request_target:
  push:
    branches:
      - master

name: Deploy
jobs:
  approve:
    name: Approve
    uses: ./.github/workflows/approve.yaml
    with:
      run-id: ${{ github.run_id }}
    secrets:
      token: ${{ secrets.AUTO_APPROVE_TOKEN }}
  controller:
    name: Controller
    runs-on: ubuntu-22.04
    environment: deploy
    permissions:
      packages: write
    steps:
      - name: Check out sources
        uses: actions/checkout@v4
        with:
          # https://github.com/actions/checkout/issues/1471#issuecomment-1755639487
          fetch-depth: 0
          filter: tree:0
          path: supernetes
      - name: Deploy image
        id: image
        uses: ./supernetes/.github/actions/deploy-image
        with:
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Check out deployment repository
        uses: actions/checkout@v4
        with:
          repository: supernetes/deploy
          fetch-depth: 0
          path: deploy
          ssh-key: ${{ secrets.DEPLOY_KEY }}
      - name: Deploy configuration
        uses: ./supernetes/.github/actions/deploy-configuration
        with:
          digest: ${{ steps.image.outputs.digest }}
