# This is self-hosted Renovate: we can't use the Mend-hosted one, since we need to be able to run `make tidy` in
# `postUpgradeTasks` to both generate the Protobuf artifacts and sync dependency updates across the components.
# This remains a paid feature for the hosted version, and an absent feature in Dependabot.

on:
  schedule:
    # Run passes every 15 minutes on Mondays between 15:00 and 16:00. We need to trigger this workflow
    # multiple times, as Renovate will only auto-merge one branch/PR, per target branch, per run:
    # https://docs.renovatebot.com/key-concepts/automerge/#renovate-automerges-take-time
    - cron: "0/15 15 * * 1"
  workflow_dispatch: # Manual invocation option

name: Renovate
jobs:
  renovate:
    name: Dependencies
    runs-on: ubuntu-24.04
    steps:
      - name: Check out sources
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
      - name: Set up runtime
        uses: ./.github/actions/runtime
      - name: Compile Protobuf artifacts
        run: make proto
      - name: Source variables from the environment
        run: echo XDG_RUNTIME_DIR="$XDG_RUNTIME_DIR" >> "$GITHUB_ENV"
      # Due to the way the Docker socket forwarding works, bind-mounted volume paths are enacted on the host. This
      # means the repo path inside and outside the Renovate container must match for Renovate to run `make tidy`.
      - name: Prepare host-side paths for Renovate
        run: |
          mkdir -p "/tmp/renovate/repos/github/${{ github.repository_owner }}"
          ln -s "$PWD" "/tmp/renovate/repos/github/${{ github.repository }}"
      - name: Run Renovate
        uses: renovatebot/github-action@v44.0.2
        with:
          configurationFile: .github/renovate-custom.json5
          docker-user: root # We're running rootless
          # Mount the local checkout including generated code in the Renovate container
          docker-volumes: /tmp:/tmp;.:/tmp/renovate/repos/github/${{ github.repository }}
          mount-docker-socket: true # Required for `make tidy` inside the Renovate container
          docker-socket-host-path: ${{ env.XDG_RUNTIME_DIR }}/docker.sock # Rootless Docker socket
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          RENOVATE_GIT_PRIVATE_KEY: ${{ secrets.RENOVATE_GIT_PRIVATE_KEY }}
          RENOVATE_PERSIST_REPO_DATA: true
          RENOVATE_BASE_DIR: /tmp/renovate
